body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8e8e8;
    color: #444;
}

h1 {
    color: #d46a92;
}

button {
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    background-color: #d46a92;
    color: white;
    cursor: pointer;
}